.home__swiper {
    padding-top: 70px;
    position: relative;

    @media (max-width: 850px) {
        padding-top: 60px;
    }

    .navigation-buttons {
        position: absolute;
        display: flex;
        gap: $lg;
        bottom: 7rem;
        left: clamp($base, 8vw, calc($base * 20));
        z-index: 3;

        button {
            background: transparent;
            border: none;
        }

        @media (max-width: 700px) {
            display: none;
        }
    }

    .home__slider {
        .swiper-pagination {
            bottom: 8.2rem;
            width: fit-content;
            left: calc(clamp($base, 8vw, calc($base * 20)) + 170px);
            gap: 4px;
            display: flex;

            @media (max-width: 700px) {
                left: 50%;
                transform: translateX(-50%);
                bottom: $xl;
            }

            .swiper-pagination-bullet {
                background: $light100;
                width: 3.6px;
                height: 3.6px;
                border-radius: 10px;
                opacity: 1;
                transition: all .3s ease-in-out;
                outline: 1px solid transparent;
                outline-offset: 4px;
            }

            .swiper-pagination-bullet-active {
                outline: 1px solid $light100;
                height: 4.5px;
                width: 4.5px;
            }
        }

        .slides {
            padding: 3rem clamp($base, 8vw, calc($base * 20));
            min-height: 670px;
            width: 100% !important;
            z-index: 100;
            color: $light100;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            isolation: isolate;
            gap: $xl;

            @media (max-width: 700px) {
                flex-wrap: wrap;
                place-content: center;
                text-align: center;
            }

            .background-image {
                position: absolute;
                inset: 0;
                z-index: -2;
                min-height: 100%;
                object-fit: cover;
                pointer-events: none;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                inset: 0;
                background: hsla(0, 0%, 0%, 0.6);
                z-index: -1;
                pointer-events: none;
            }

            h1 {
                font-size: 4.2rem;
                max-width: 424px;
                margin: $thin 0;
                font-family: $Recoleta;
                font-weight: 400;
                line-height: 1.2;

                @media (max-width: 850px) {
                    font-size: 3rem;
                }

                @media (max-width: 700px) {
                    max-width: 600px;
                }

                @media (max-width: 480px) {
                    font-size: calc($lg + 5px);
                }
            }

            h2 {
                font-size: $sm;
                font-weight: 400;
                font-family: $Ubuntu;
                margin-bottom: $base;
            }

            p {
                max-width: 289px;
                line-height: 1.7;
                font-family: $AvenitLT;
                font-weight: 300;

                @media (max-width: 700px) {
                    max-width: 100%;
                }
            }

            a {
                font-size: $sm;
                color: $light100;
                background: $secondary100;
                border-radius: 12px;
                padding: 10px 20px;
                display: block;
                width: fit-content;
                margin-top: $xx;
                font-family: $AvenitLT;

                @media (max-width: 600px) {
                    margin: $xx auto 0 auto;
                }
            }
        }
    }
}