.app__header {
    position: fixed;
    width: 100%;
    z-index: 10;

    &__nav {
        padding: $xs $px-fluid;
        background: $primary100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 2.5vw;
            background: $primary100;

            .dropdown__links {
                position: relative;

                .dropdown {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    svg {
                        margin-top: 4px;
                    }
                }

                .services__dropdown__desktop {
                    top: 100%;
                    background: $primary100;
                    padding: $base $base $lg $base;
                    overflow-y: scroll;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    transition: all 300ms ease-in-out;
                    width: 250px;
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                    max-height: 80vh;


                    &::-webkit-scrollbar {
                        display: none;
                    }

                    a {
                        padding: $thin 0;
                        font-size: $sm;
                    }
                }

                &:hover {
                    .services__dropdown__desktop {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            li {
                list-style: none;

                a {
                    color: $light100;
                    padding: $base 0;
                    display: block;
                    position: relative;
                    font-family: $Recoleta;

                    &::after {
                        position: absolute;
                        display: block;
                        height: 1.5px;
                        content: "";
                        bottom: 7px;
                        border-radius: 4px;
                        left: 30%;
                        right: 30%;
                    }
                }

                .active {
                    &::after {
                        transition: all .2s ease-in-out;
                        left: 0;
                        right: 0;
                        background: $secondary100;
                    }
                }
            }

            .services__dropdown__mobile {
                padding: 0 $base $lg $base;
                -ms-overflow-style: none;
                scrollbar-width: none;
                transition: all 300ms ease-in-out;

                &::-webkit-scrollbar {
                    display: none;
                }

                a {
                    padding: $thin 0;
                    display: block;
                    color: $light100;
                    font-size: $sm;
                    font-family: $Recoleta;
                }
            }

            @media (max-width: 480px) {
                &::-webkit-scrollbar {
                    display: none;
                }

                -ms-text-overflow: none;
                scrollbar-width: none;
            }

            @media (max-width: 850px) {
                position: absolute;
                flex-direction: column;
                top: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                padding: $lg $px-fluid 6rem $px-fluid;
                height: 100vh;
                left: -120%;
                overflow-y: scroll;
                width: 100%;
                max-width: 480px;
                transition: all .3s ease;

                li {
                    a {
                        margin-bottom: $base;
                    }
                }
            }
        }

        .open {
            left: 0;
        }

        .menubar {
            cursor: pointer;
        }
    }
}