.pages__hero {
    padding-top: 76px;

    @media (max-width: 850px) {
        padding-top: 60px;
    }

    .wrapper {
        padding: 3rem clamp($base, 8vw, calc($base * 20));
        min-height: 670px;

        h2 {
            max-width: 691px;
            font-size: 4.2rem;
            margin-bottom: $lg;
            font-family: $Recoleta;
            font-weight: 400;
            line-height: 1.2;

            @media (max-width: 800px) {
                font-size: $xxl;
                margin-bottom: $xx;
            }

            @media (max-width: 480px) {
                font-size: calc($lg + 2px);
                text-align: center;
            }
        }

        p {
            text-align: justify;
            max-width: 691px;
            margin: $base 0;
            line-height: 1.7;
            font-family: $AvenitLT;

            @media (max-width: 480px) {
                text-align: center;
            }
        }
    }
}