.carrers {
    padding-top: 76px;

    @media (max-width: 850px) {
        padding-top: 60px;
    }

    &__hero {
        padding: 3rem clamp($base, 8vw, calc($base * 20));

        h2 {
            font-size: $sm;
            margin-bottom: $base;
            font-family: $AvenitLT;
            font-weight: 400;

            @media (max-width: 480px) {
                text-align: center;
            }
        }

        h3 {
            max-width: 539px;
            font-size: 4.2rem;
            margin-bottom: $lg;
            font-family: $Recoleta;
            line-height: 1.2;
            font-weight: 400;

            @media (max-width: 800px) {
                font-size: $xxl;
                margin-bottom: $xx;
            }

            @media (max-width: 480px) {
                font-size: calc($lg + 2px);
                text-align: center;
            }
        }

        p {
            text-align: justify;
            max-width: 690px;
            margin: $base 0;
            line-height: 1.7;
            font-family: $AvenitLT;

            @media (max-width: 480px) {
                text-align: center;
            }
        }
    }

    &__open__positions {
        padding: $lg $px-fluid;

        @media (max-width: 480px) {
            padding: $lg 0;
        }

        .position {
            >div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 3rem;
                row-gap: $base;
                padding: $lg 0;
                border-right: 1px solid $secondary100;
                border-left: 1px solid $secondary100;
                border-top: 1px solid $secondary100;

                &:last-child {
                    border-bottom: 1px solid $secondary100;
                }

                @media (max-width: 950px) {
                    column-gap: $lg;
                }

                @media (max-width: 750px) {
                    flex-wrap: wrap;
                    padding: $lg;
                }

            }
        }

        h2 {
            margin: $sm 0;
            font-size: calc($xx + 10px);
            font-weight: 400;
            max-width: 344px;
            font-family: $Recoleta;

            @media (max-width: 480px) {
                font-size: calc($lg + 2px);
                text-align: center;
                padding: 0 $base;
            }
        }

        h4 {
            font-size: calc($base + 2px);
            font-weight: 700;
            flex-shrink: 0;
            max-width: 291px;
            border-right: 1px solid $secondary100;
            padding: 10px 1.8rem;
            font-family: $AvenitLT;

            @media (max-width: 950px) {
                padding: 10px 0;
            }

            @media (max-width: 750px) {
                border-right: 0;
            }
        }

        p {
            text-align: justify;
            font-size: $base;
            border-right: 1px solid $secondary100;
            padding-right: 1.8rem;
            font-family: $AvenitLT;

            @media (max-width: 950px) {
                padding-right: $base;
            }

            @media (max-width: 750px) {
                border-right: 0;
                order: 3;
            }
        }

        button {
            font-size: $sm;
            color: $light100;
            background: $secondary100;
            border: none;
            padding: 10px 20px;
            border-radius: 6px;
            flex-shrink: 0;
            margin-right: 1.8rem;
            font-family: $AvenitLT;

            @media (max-width: 950px) {
                margin-right: $base;
            }

            @media (max-width: 750px) {
                order: 2;
                margin-right: 0;
            }
        }
    }
}