#service {
    padding: 75px $px-fluid 3rem $px-fluid;

    @media (max-width: 650px) {
        padding: 75px 0 $xl 0;
    }

    @media (max-width: 850px) {
        padding-top: 60px;
    }

    &__back__btn {
        display: flex;
        align-items: center;
        font-size: $base;
        color: #000;
        padding: 5px 0;
        margin-top: 4px;
        border-top: 1px solid hsla(0, 0%, 18%, 0.1);
        border-bottom: 1px solid hsla(0, 0%, 18%, 0.1);
        font-family: $AvenitLT;

        @media (max-width: 850px) {
            margin-top: 0;
        }

        @media (max-width: 650px) {
            padding: 5px $base;
        }
    }

    figure {
        @media (max-width: 650px) {
            padding: 0 $base;
            height: 300px;

            img {
                min-height: 100%;
                object-fit: cover;
            }
        }

        img {
            width: 100%;
        }
    }

    .navigate {
        margin: $base 0;
        display: block;

        @media (max-width: 650px) {
            margin: $base auto;
        }
    }

    &__description {
        display: grid;
        grid-template-columns: .5fr 1fr;

        @media (max-width: 650px) {
            grid-template-columns: 1fr;
        }

        >* {
            border: 1px solid $secondary100;
            padding: 3.5rem $xx;

            &:nth-child(1) {
                border-top: 1px solid $secondary100;
                border-bottom: 1px solid $secondary100;
            }

            @media (max-width: 650px) {
                padding: $base $px-fluid !important;
            }

            @media (max-width: 650px) {
                padding: $base $px-fluid;
                border: none;
                border-bottom: 1px solid $secondary100;
            }

            h2 {
                max-width: 378px;
                margin: $sm 0;
                font-size: calc($xx + 10px);
                font-weight: 400;
                margin-top: $lg;
                line-height: 1.2;
                font-family: $Recoleta;

                @media (max-width: 650px) {
                    max-width: 100%;
                    text-align: center;
                }

                @media (max-width: 480px) {
                    font-size: calc($lg + 2px);
                }
            }

            img {
                margin: 0 auto;
                display: block;
                height: 71px;
            }

            p {
                font-size: $base;
                line-height: 1.8;
                font-family: $AvenitLT;
                text-align: justify;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: $lg;
            justify-content: center;
            border-left: 0;

            @media (max-width: 650px) {
                border-top: 0;
                border-left: 1px solid $secondary100;
            }

            @media (max-width: 480px) {
                border-left: 0;
            }
        }
    }
}