#services {
    margin: 0 $px-fluid;
    padding: 8rem $xl 3rem $xl;
    position: relative;

    @media (max-width: 480px) {
        padding: 7rem 0 3rem 0;
        margin: 0;
    }

    &::after,
    &::before {
        background: $secondary100;
        width: 1px;
        position: absolute;
        content: "";
        display: block;
        pointer-events: none;

        @media (max-width: 480px) {
            display: none;
        }
    }

    &::after {
        top: 0;
        bottom: 20%;
        right: 0;
    }

    &::before {
        top: 0;
        bottom: 20%;
        left: 0;
    }

    h2 {
        font-size: $sm;
        color: $secondary100;
        font-family: $AvenitLT;

        @media (max-width: 480px) {
            text-align: center;
        }
    }

    h3 {
        margin: $sm 0;
        font-size: calc($xx + 10px);
        font-weight: 400;
        max-width: 344px;
        font-family: $Recoleta;
        line-height: 1.2;

        @media (max-width: 480px) {
            font-size: calc($lg + 2px);
            text-align: center;
            padding: 0 $base;
        }
    }

    p {
        text-align: justify;
        line-height: 1.7;
        font-family: $AvenitLT;

        @media (max-width: 480px) {
            text-align: center;
            padding: 0 $base;
        }
    }

    .services__type {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 3rem;

        @media (max-width: 850px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }

        .first {
            padding: $base;
            border-top: 1px solid $secondary100;
            border-left: 1px solid $secondary100;

            &:nth-child(n + 10) {
                border-bottom: 1px solid $secondary100;
            }

            &:nth-child(2) {
                @media (max-width: 850px) {
                    border-right: 1px solid $secondary100;
                }
            }

            &:nth-child(3) {
                border-right: 1px solid $secondary100;

                @media (max-width: 850px) {
                    border-right: 0;
                }
            }

            &:nth-child(4) {
                @media (max-width: 850px) {
                    border-right: 1px solid $secondary100;
                }
            }

            &:nth-child(6) {
                border-right: 1px solid $secondary100;
            }

            &:nth-child(8) {
                @media (max-width: 850px) {
                    border-right: 1px solid $secondary100;
                }
            }

            &:nth-child(9) {
                border-right: 1px solid $secondary100;

                @media (max-width: 850px) {
                    border-right: 0;
                }
            }

            &:nth-child(10) {
                @media (max-width: 850px) {
                    border-right: 1px solid $secondary100;
                    border-bottom: 0;
                }
            }

            &:nth-child(12) {
                border-right: 1px solid $secondary100;
            }

            @media (max-width: 480px) {
                border: none !important;
                border-top: 1px solid $secondary100 !important;
            }

            img {
                width: 100%;
            }

            figcaption {
                font-size: $base;
                margin-top: $sm;
                font-family: $Recoleta;

                @media (max-width: 480px) {
                    font-size: $sm;
                }
            }
        }

    }

    .last {
        display: flex;
        justify-content: center;
        width: fit-content;
        border-left: 1px solid $secondary100;
        border-right: 1px solid $secondary100;

        @media (max-width: 480px) {
            flex-direction: column;
            border-left: 0;
            border-right: 0;
            border-top: 1px solid $secondary100;
        }

        figure {
            padding: $base;
            flex-grow: 1;
            border-bottom: 1px solid $secondary100;

            &:nth-child(2) {
                border-left: 1px solid $secondary100;

                @media (max-width: 480px) {
                    border-left: 0;
                }
            }

            img {
                width: 100%;
            }

            figcaption {
                font-size: $base;
                margin-top: $sm;
                font-family: $Recoleta;

                @media (max-width: 480px) {
                    font-size: $sm;
                }
            }
        }
    }
}