* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 10rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
}

button {
    cursor: pointer;
}

body {
    background: hsla(266, 33%, 96%, 1);
}