$primary100: hsla(199, 100%, 15%, 1);
$primary200: hsla(199, 100%, 23%, 1);
$secondary100: hsla(199, 99%, 46%, 1);
$secondary200: hsla(199, 99%, 38%, 1);
$secondary300: hsla(199, 84%, 55%, 1);
$light100: hsl(0, 0%, 100%);

//sizes
$xxl: 3rem;
$xx: 2.5rem;
$xl: 2rem;
$lg: 1.5rem;
$md: 1.25rem;
$base: 1rem;
$sm: .9rem;
$xs: .8rem;
$thin: .7rem;
$tiny: .6rem;
$xxs: .5rem;

//box model
$px-fluid: clamp($base, 5vw, calc($base * 20));

//fonts
@font-face {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: normal;
    src: url('/public/recoleta-regulardemo.otf');
}

@font-face {
    font-family: 'AvenirLT';
    font-style: normal;
    font-weight: normal;
    src: url('/public/AvenirLTProBook.otf');
}

$Recoleta: "Recoleta", sans-serif, Arial;
$Ubuntu: "Ubuntu", sans-serif, Arial;
$AvenitLT: "AvenirLT", sans-serif, Arial;
$Inter: "Inter", sans-serif, Arial;